In [1]:
import statistics
from pathlib import Path

import pandas as pd

/Users/andresmesad/Desktop/books/Hands-On-Data-Analysis-with-Pandas-2nd-edition/venv/lib/python3.8/site-packages/pandas/compat/__init__.py:97: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

# Import file

In [2]:
file_path = Path().cwd() / "data" / "parsed.csv"

In [3]:
file_path.exists()

True

In [4]:
df = pd.read_csv(file_path)

In [5]:
df.sample(5)

,alert,cdi,code,detail,dmin,felt,gap,ids,mag,magType,...,status,time,title,tsunami,type,types,tz,updated,url,parsed_place
4445,NaN,NaN,37374602,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.013700,NaN,36.0,",ci37374602,",0.24,ml,...,reviewed,1538288927580,"M 0.2 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,scit...",-480.0,1538493118880,https://earthquake.usgs.gov/earthquakes/eventp...,California
7852,NaN,NaN,20260636,https://earthquake.usgs.gov/fdsnws/event/1/que...,NaN,NaN,NaN,",ak20260636,",1.80,ml,...,automatic,1537609496655,"M 1.8 - 77km SW of Kaktovik, Alaska",0,earthquake,",geoserve,origin,",-540.0,1537609904646,https://earthquake.usgs.gov/earthquakes/eventp...,Alaska
4258,NaN,NaN,37374970,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.003637,NaN,167.0,",ci37374970,",0.42,ml,...,reviewed,1538323144350,"M 0.4 - 10km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,scit...",-480.0,1538425087176,https://earthquake.usgs.gov/earthquakes/eventp...,California
5703,NaN,NaN,37410909,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.025980,NaN,94.0,",ci37410909,",0.29,ml,...,reviewed,1538040825870,"M 0.3 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,scit...",-480.0,1538064776333,https://earthquake.usgs.gov/earthquakes/eventp...,California
528,NaN,NaN,37386586,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.014100,NaN,118.0,",ci37386586,",0.41,ml,...,reviewed,1539304937230,"M 0.4 - 15km NE of Little Lake, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539361280511,https://earthquake.usgs.gov/earthquakes/eventp...,California

# Find the 95th percentile of earthquake magnitude in Japan using the mb magnitude type

In [6]:
df.columns

Index(['alert', 'cdi', 'code', 'detail', 'dmin', 'felt', 'gap', 'ids', 'mag',
       'magType', 'mmi', 'net', 'nst', 'place', 'rms', 'sig', 'sources',
       'status', 'time', 'title', 'tsunami', 'type', 'types', 'tz', 'updated',
       'url', 'parsed_place'],
      dtype='object')

In [14]:
(
    df.loc[(df["parsed_place"] == "Japan") & (df["magType"] == "mb")]["mag"]
    .quantile(0.95)
)

4.9

# 2. Find the percentage of earthquakes in Indonesia that were coupled with tsunamis

In [18]:
df.loc[df["parsed_place"] == "Indonesia"]["tsunami"].value_counts(normalize=True)

0    0.768707
1    0.231293
Name: tsunami, dtype: float64

# 3. Calculate summary statistics for earthquakes in Nevada

In [19]:
df.loc[df["parsed_place"] == "Nevada"].describe()

,cdi,dmin,felt,gap,mag,mmi,nst,rms,sig,time,tsunami,tz,updated
count,15.000000,681.000000,15.000000,681.000000,681.000000,1.00,681.000000,681.000000,681.000000,6.810000e+02,681.0,681.0,6.810000e+02
mean,2.440000,0.166199,2.400000,153.668120,0.500073,2.84,12.618209,0.151986,10.970631,1.538314e+12,0.0,-480.0,1.538402e+12
std,0.501142,0.166228,4.626013,68.735302,0.696710,NaN,9.866963,0.084662,19.607150,5.965637e+08,0.0,0.0,6.010951e+08
min,2.000000,0.001000,1.000000,29.140000,-0.500000,2.84,3.000000,0.000500,0.000000,1.537247e+12,0.0,-480.0,1.537307e+12
25%,2.000000,0.053000,1.000000,97.380000,-0.100000,2.84,6.000000,0.106900,0.000000,1.537854e+12,0.0,-480.0,1.537928e+12
50%,2.200000,0.112000,1.000000,149.140000,0.400000,2.84,10.000000,0.146300,2.000000,1.538280e+12,0.0,-480.0,1.538428e+12
75%,2.900000,0.233000,1.000000,199.720000,0.900000,2.84,16.000000,0.187100,12.000000,1.538821e+12,0.0,-480.0,1.538878e+12
max,3.300000,1.414000,19.000000,355.910000,2.900000,2.84,61.000000,0.863400,129.000000,1.539461e+12,0.0,-480.0,1.539483e+12

# 4. Add a column indicating whether the earthquake happened in a country or US state that is on the Ring of Fire (Alaska, Antarctica, Antarctic, Bolivia, California, Canada, Chile, Costa Rica, Ecuador, Fiji, Guatemala, Indoneasia, Japan, Kermadec Islands, Mexico, New Zealeand, Peru, Philippines, Russia, Taiwan, Tonga, Washington)

In [23]:
df["parsed_place"].sort_values().unique()

array(['Afghanistan', 'Alaska', 'Argentina', 'Arizona', 'Arkansas',
       'Ascension Island', 'Australia', 'Azerbaijan', 'Balleny Islands',
       'Barbuda', 'Bolivia', 'British Virgin Islands', 'Burma',
       'California', 'Canada', 'Carlsberg Ridge',
       'Central East Pacific Rise', 'Central Mid-Atlantic Ridge', 'Chile',
       'China', 'Christmas Island', 'Colombia', 'Colorado', 'Costa Rica',
       'Dominican Republic', 'East Timor', 'Ecuador', 'El Salvador',
       'Fiji', 'Greece', 'Greenland', 'Guam', 'Guatemala', 'Haiti',
       'Hawaii', 'Honduras', 'Idaho', 'Illinois', 'India',
       'Indian Ocean Triple Junction', 'Indonesia', 'Iran', 'Iraq',
       'Italy', 'Jamaica', 'Japan', 'Kansas', 'Kentucky',
       'Kermadec Islands', 'Kuril Islands', 'Kyrgyzstan', 'Martinique',
       'Mauritius', 'Mayotte', 'Mexico', 'Mid-Indian Ridge', 'Missouri',
       'Montana', 'Nevada', 'New Caledonia', 'New Hampshire',
       'New Mexico', 'New Zealand', 'Nicaragua', 'North Carolina',
       'Northern East Pacific Rise', 'Northern Mariana Islands',
       'Northern Mid-Atlantic Ridge', 'Oklahoma', 'Oregon',
       'Pacific-Antarctic Ridge', 'Pakistan', 'Papua New Guinea', 'Peru',
       'Philippines', 'Prince Edward Islands', 'Puerto Rico',
       'Queen Charlotte Islands', 'Romania', 'Russia',
       'Saint Eustatius and Saba', 'Saint Helena', 'Socotra',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Carolina',
       'South Georgia and South Sandwich Islands',
       'South Sandwich Islands', 'Southeast Indian Ridge',
       'Southern East Pacific Rise', 'Southern Mid-Atlantic Ridge',
       'Southwest Indian Ridge', 'Sumatra', 'Taiwan', 'Tajikistan',
       'Tennessee', 'Texas', 'Tonga', 'Turkey', 'U.S. Virgin Islands',
       'Utah', 'Uzbekistan', 'Vanuatu', 'Vermont', 'Washington',
       'Western Indian-Antarctic Ridge', 'Western Xizang', 'Wyoming',
       'Yemen'], dtype=object)

In [24]:
df['ring_of_fire'] = df.parsed_place.str.contains(r'|'.join([
    'Alaska', 'Antarctic', 'Bolivia', 'California', 'Canada',
    'Chile', 'Costa Rica', 'Ecuador', 'Fiji', 'Guatemala',
    'Indonesia', 'Japan', 'Kermadec Islands', '^Mexico',
    'New Zealand', 'Peru', 'Philippines', 'Russia',
    'Taiwan', 'Tonga', 'Washington' 
]))

In [25]:
df.sample(5)

,alert,cdi,code,detail,dmin,felt,gap,ids,mag,magType,...,time,title,tsunami,type,types,tz,updated,url,parsed_place,ring_of_fire
6822,NaN,NaN,20262691,https://earthquake.usgs.gov/fdsnws/event/1/que...,NaN,NaN,NaN,",ak20262691,",2.50,ml,...,1537832019308,"M 2.5 - 75km NNW of Talkeetna, Alaska",0,earthquake,",geoserve,origin,phase-data,",-540.0,1538681074259,https://earthquake.usgs.gov/earthquakes/eventp...,Alaska,True
4089,NaN,NaN,20268035,https://earthquake.usgs.gov/fdsnws/event/1/que...,NaN,NaN,NaN,",ak20268035,us1000h4ur,",2.50,ml,...,1538358195563,"M 2.5 - 115km NNW of Arctic Village, Alaska",0,earthquake,",geoserve,origin,phase-data,",-540.0,1539136173040,https://earthquake.usgs.gov/earthquakes/eventp...,Alaska,True
6193,NaN,NaN,73089881,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.04261,NaN,225.0,",nc73089881,",0.88,md,...,1537946107700,"M 0.9 - 9km SW of The Geysers, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,scit...",-480.0,1538001543672,https://earthquake.usgs.gov/earthquakes/eventp...,California,True
5733,NaN,NaN,80311429,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.11300,NaN,123.0,",mb80311429,",1.25,ml,...,1538036070990,"M 1.3 - 14km ESE of Lincoln, Montana",0,earthquake,",geoserve,origin,phase-data,",-420.0,1538056930630,https://earthquake.usgs.gov/earthquakes/eventp...,Montana,False
1850,NaN,NaN,61793046,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.05048,NaN,316.0,",av61793046,",1.01,ml,...,1538887783500,"M 1.0 - 47km W of Tanaga Volcano, Alaska",0,earthquake,",geoserve,origin,phase-data,",-600.0,1539046526380,https://earthquake.usgs.gov/earthquakes/eventp...,Alaska,True

# 5. Calculate the number of earthquakes in the ring of fire locations and the number outside them

In [31]:
df["ring_of_fire"].value_counts(normalize=True)*100

True     77.025289
False    22.974711
Name: ring_of_fire, dtype: float64

# 6. Find the tsunami count along the ring of fire

In [27]:
df.columns

Index(['alert', 'cdi', 'code', 'detail', 'dmin', 'felt', 'gap', 'ids', 'mag',
       'magType', 'mmi', 'net', 'nst', 'place', 'rms', 'sig', 'sources',
       'status', 'time', 'title', 'tsunami', 'type', 'types', 'tz', 'updated',
       'url', 'parsed_place', 'ring_of_fire'],
      dtype='object')

In [39]:
(
    df
    .query(" ring_of_fire and tsunami")
    .shape[0]
)

45

In [37]:
df.loc[df.ring_of_fire, 'tsunami'].sum()

45